{% extends 'layout.html' %}

{% block body %}


<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image: url('{{ url_for('static', filename='images/about.jpg') }}');">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                  <h1 class="big">About</h1>
                <h2 class="mb-4">About Me</h2>
                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Name:</span> <span>{{params.name}}</span></li>
                    <li class="d-flex"><span>Date of birth:</span> <span>{{params.born[0]}} {{params.born[1]}}, {{params.born[2]}}</span></li>
                    <li class="d-flex"><span>Address:</span> <span>{{params.from[1]}} {{params.from[2]}} {{params.from[4]}}</span></li>
                    <li class="d-flex"><span>Zip code:</span> <span>{{params.from[3]}}</span></li>
                    <li class="d-flex"><span>Email:</span> <span>{{params.email}}</span></li>
                    <li class="d-flex"><span>Phone: </span> <span>{{params.phone}}</span></li>
                </ul>
              </div>
            </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
              <p class="mb-4">
                <span class="number" data-number="{{params.no_of_projects}}">0</span>
                <span>Project complete</span>
            </p>
            <p>
              <a href="{{ url_for('static', filename=cv.file) }}" 
                class="btn btn-primary py-3 px-3" 
                download="{{cv.title}}.pdf">
                Download CV
              </a>

            </p>            
          </div>
          </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}
